//baseWidth
//$baseWidth1:1000px;

// Breakpoint
//$breakpoint1:767px;
//$breakpoint2:480px;

// Common Colors
//$color1:#;
//$color2:#;
//$color3:#;

// link color
//$link:#000;
//$hover:#000;
//$active:#000;
//$visited:#000;

// FONTS
$font-gothic:  "游ゴシック","YuGothic", "メイリオ", "Meiryo",'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', sans-serif;
$font-mincho:  "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E", "ＭＳ Ｐ明朝", serif;
$font-meiryo:  "Meiryo",'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', sans-serif;
$font-hiragino :'Hiragino Kaku Gothic Pro', sans-serif;
// URL