/*------------------------------------------------------------
sakura
------------------------------------------------------------*/
.maintitle--sakura{
	background: url('../image/sakura/banner_04.png') no-repeat top center;
	background-size: cover;
}
/*------------------------------------------------------------
.p-sakura
------------------------------------------------------------*/
.p-sakura{
	min-width:950px;
	width:100%;
}
/*------------------------------------------------------------
.p-sakura1
------------------------------------------------------------*/
.p-sakura1{
	.c-title5{
		margin-bottom:25px;
	}
	.c-title6{
		padding-top:25px;
	}
	.c-info-2{
		margin-top:25px;
	}
}
/*------------------------------------------------------------
.p-sakura2
------------------------------------------------------------*/
.p-sakura2{
	.c-title5{
		margin-bottom:25px;
	}
}