/*------------------------------------------------------------
shien
------------------------------------------------------------*/
.maintitle--shien{
	background: url('../image/shien/banner_05.png') no-repeat top center;
	background-size: cover;
}
/*------------------------------------------------------------
.p-shien
------------------------------------------------------------*/
.p-shien{
	min-width:950px;
	width:100%;
}
/*------------------------------------------------------------
.p-shien1
------------------------------------------------------------*/
.p-shien1{
	.c-title5{
		margin-bottom:25px;
	}
	.l-flame1{
		.c-title6{
			padding-bottom:25px;
		}
		&__left{
			&__text1{
				padding-bottom:30px;
			}
		}
	}
}
/*------------------------------------------------------------
.p-shien2
------------------------------------------------------------*/
.p-shien2{
	.c-title5{
		margin-bottom:25px;
	}
	.l-flame1{
		&__left{
			&__text3{
				padding-bottom:30px;
			}
		}
	}
}
