/*------------------------------------------------------------
teamsakata
------------------------------------------------------------*/
.maintitle--teamsakata{
	background:url('../image/teamsakata/banner_06.png') no-repeat top center;
	background-size: cover;
}
/*------------------------------------------------------------
p-teamsakata
------------------------------------------------------------*/
.p-teamsakata{
	min-width:950px;
	width:100%;
}
/*------------------------------------------------------------
p.l-flame2
------------------------------------------------------------*/
.l-flame2{
	padding:70px 0;
}
/*------------------------------------------------------------
.p-teamsakata1
------------------------------------------------------------*/
.p-teamsakata1{
	.l-flame2{
		padding:45px 0;
	}
	.c-title5{
		padding-bottom:22px;
	}
	.l-flame1{
		&__left{
			&__text1{
				padding-bottom:30px;
			}
		}
	}
}
/*------------------------------------------------------------
.p-teamsakata2
------------------------------------------------------------*/
.p-teamsakata2{
	.c-title5{
		padding-bottom:22px;
	}
	.l-flame1{
		&__left{
			&__text1{
				font-weight:bold;
			}
			.c-info-1{
				padding:45px 0 0 0;
				background: none;
			}
		}
	}
}
/*------------------------------------------------------------
.p-content1
------------------------------------------------------------*/
.p-content1{
	.c-title4{
		margin-bottom:40px;
	}
}

