/*------------------------------------------------------------
teamshien
------------------------------------------------------------*/
.maintitle--teamshien{
	background: url('../image/teamshien/banner_07.png') no-repeat top center;
	background-size: cover;
}
/*------------------------------------------------------------
.p-teamshien
------------------------------------------------------------*/
.p-teamshien{
	min-width:950px;
	width:100%;
}
/*------------------------------------------------------------
.p-teamshien1
------------------------------------------------------------*/
.p-teamshien1{
	.c-title5{
		margin-bottom:25px;
	}
	.l-flame1{
		.c-title6{
			padding-bottom:25px;
		}
		&__left{
			&__text1{
				padding-bottom:30px;
			}
		}
	}
}
/*------------------------------------------------------------
.p-teamshien2
------------------------------------------------------------*/
.p-teamshien2{
	.c-title5{
		margin-bottom:25px;
	}
	.l-flame1{
		&__left{
			&__text3{
				padding-bottom:30px;
			}
		}
	}
}
/*------------------------------------------------------------
.p-teamshien3
------------------------------------------------------------*/
.p-teamshien3{
	.c-title5{
		margin-bottom:25px;
	}
	.c-title6-2{
		padding-bottom:20px;
	}
}
/*------------------------------------------------------------
.p-teamshien4
------------------------------------------------------------*/
.p-teamshien4{
	.c-title5{
		margin-bottom:25px;
	}
	.l-flame1{
		&__left{
			&__text1{
				padding-bottom: 30px;
			}
		}
	}
}
/*------------------------------------------------------------
.p-teamshien5
------------------------------------------------------------*/
.p-teamshien5{
	.c-title5{
		margin-bottom:25px;
	}
	.c-title6-2{
		padding-bottom:20px;
	}
	.c-info-2{
		margin-top:30px;
	}
}

/*------------------------------------------------------------
.p-teamshien7
------------------------------------------------------------*/
.p-teamshien7{
	p{
		@include setFont(1.4rem,#000000,400,$font-meiryo)
	}
	.text1{
		padding-bottom:25px;
	}
}
