/*------------------------------------------------------------
.c-entry1
------------------------------------------------------------*/
.c-entry1{
	&__text{
		float:left;
		width:558px;
	}
	p{
		@include setFont(1.4rem,#000000,400,$font-meiryo)
	}
	&__img{
		float:left;
		margin-left:40px;
	}
	@include clearfix;
}
/*
------------------------------------------------------------*/
